body{
    background: #fff;
    font-family: "SunAntwerpen", sans-serif;
    padding-top: 8rem;
}

html{
    font-size: 87.5%;
    line-height: 1.33em;
}



h5, h5 a, .project-big-box h1{
    font-family: "Antwerpen";
    text-decoration: none;
    color: #282020;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h5 a:hover{
    color: #0064B4;
    text-decoration: none;
}

a{
    font-weight: 700;
    color: #0064B4;
}

a:hover{
    text-decoration: none;
}

i{
    padding-right: 10px;
    padding-left: 5px;
}

.thumbnail{
    display:block;
    padding: 0;
    margin-bottom: 0;
    line-height: normal;
    background-color: none;
    border: none;
    border-radius: 0;
    transition: none;

}
