body{
    background: #fff;
    font-family: "Sun-Antwerpen 500", sans-serif;
    padding-top: 8rem;
}

html{
    font-size: 87.5%;
    line-height: 1.33em;
}



h1, h5, h5 a, .project-big-box h1{
    font-family: "Antwerpen";
    text-decoration: none;
    color: #282020;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h1, h5, h3, h2, h4{
    font-family: "Antwerpen";
    text-decoration: none;
    color: #282020;
}

h5 a:hover{
    color: #0064B4;
    text-decoration: none;
}

a{
    font-weight: 700;
    color: #0064B4;
}

a:hover{
    text-decoration: none;
}

i{
    padding-right: 10px;
    padding-left: 5px;
}
.navbar-nav>li>#page-title{
    padding: 30.5px;
}

.navbar-nav>li>a>h1{
    color: white;
    font-family: "Antwerpen";
    margin: 0;
}

#content{
    padding: 0;
}

.thumbnail{
    display:block;
    padding: 0;
    margin-bottom: 0;
    line-height: normal;
    background-color: none;
    border: none;
    border-radius: 0;
    transition: none;
}

.panel{
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #BABABA;
}

.panel-heading{
    border-radius: 0;
}

.panel-heading h1{
    font-family: "Antwerpen";
}

.form-control{
    border-radius: 0;
}

.btn{
    border-radius: 0;
}
