/* single project page */

.project-wrapper img{
    width: 100%;
}

.project-big-box{
    border-top: 1px solid #E5E5E6;
    border-left: 1px solid #E5E5E6;
    border-right: 1px solid #E5E5E6;
    border-bottom: 2px solid #BABABA;
    margin-top: 1.2rem;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: #F5F5F6;
}

.project-big-box i.fa.fa-plus{
    color: black;
}

.project-big-box i.fa.fa-check{
    color: white;
}

.project-big-box i{
    width: 30px;
}

.cd-timeline-question-form{
    height: 500px;
}

#following-btn{
    cursor: no-drop;
}
