.filter{
    margin-bottom: 20px;
}

.dropdown-menu{
    border-radius: 0;
}

.btn-group{
    float: right;
    margin-left: 10px;
}

/* Project box */

.project-box {
    padding: 0;
    width: 100%;
    /*margin-left: 1.42857rem;*/
    margin-bottom: 1.2rem;
    background-color: #F5F5F6;
    display: inline-block;
    vertical-align:top;
    border-top: 1px solid #E5E5E6;
    border-left: 1px solid #E5E5E6;
    border-right: 1px solid #E5E5E6;
    border-bottom: 2px solid #BABABA;
    margin-left: auto;
    transition: width 0.2s ease;
}


.project-box a.footer-link, .project-box a.bewerken-link{
    font-weight: 700;
    line-height: 3rem;
    text-decoration: none;
    color: black;
    float: right;
    padding-right: .5rem;
    font-family: "Sun-Antwerpen 500";
    color: #282020;
}

.project-box a.bewerken-link{
    float: left;
    padding-left: .5rem;
}

.project-box a.footer-link:hover, .project-box a.bewerken-link:hover, .location a:hover{
    color: #0064B4;
}

article {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Sun-Antwerpen 500";
    margin-top: 35px;
    padding-bottom: 2rem;
}

.location h5{
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.location h5 a{
    font-family: "Antwerpen";
    width: 200px;
    margin-left: 20px;
    margin-top: 1.5px;
    margin-bottom: 0;
}

article p{
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}

article time {
    font-size: 0.85em;
    color: rgb(159, 159, 159);
}

.under-title{
    font-size: 0.85em;
    color: rgb(159, 159, 159);
}

.project-box-footer{
    min-height: 3rem;
    border-top: 1px solid #BABABA;
}

.project-box img {
    width: 100%;
}

.meerlezen_plus {
    padding: 1px;
    color: #000;
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    transition: transform 0.2s linear;
}

.meerlezen:hover .meerlezen_plus {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.location{
    width: 100%;
    padding-top: 1.2rem;
    padding-right: 20px;
}

.location i{
    padding-right: 0;
    padding-left: 0;
    color: #0064B4;
}

.location a{
    float: right;
    font-family: "SunAntwerpen";
    color: #282020;
    font-weight: 700;
}
